@import 'cssReset';
@import 'variables';
@import 'mixin';
@import 'images';
@import 'nav';
@import 'icons';
@import 'para';
@import 'button';

body {
	background: $backcolor;
	color: $fontcolor;
}

h1 {
	margin: 2*$margin;
	padding: $padding;
	font-size: $fontSize;
	text-align: center;
}

